
{% extends 'Student_app/base.html' %}
{% block css %}
	<style>
    .hello{
        background-color: #90bcb1;
        border-radius: 5px;
    }
    .card-login{
        background-color: #e3f3ef;
    }
    .form-input{
        border: 2px solid #141c1a;
        background-color: #90bcb1;
    }
    .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
    </style>
{% endblock %}
{% block body %}
<section class="p-5 hello">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
          {% load static %}
        <img src="{% static 'Student_app/images/signin image.webp' %}"
          class="img-fluid" alt="Sample image">
      </div>

        <div class="col-lg-6 mb-5 mb-lg-0 ">
          <div class="card card-login">
            <div class="card-body py-5 px-md-5">
                <h5 style="justify-content: left" class="fc-header-title" id="loginLabel">{% if forgot%}Reset Your Password {% else %}SignUp Here{% endif %}</h5>
                {% if signup_enroll%}
                    <form action="{{ url_name }}" method="post" id="login-form">{% csrf_token %}
                    <div class="form-outline mb-4">
                                    <input type="text" placeholder="Enrollment Number" class="form-input form-control" id="username" name="username"
                       autofocus minlength="12" maxlength="12" required>
                <label for="username">Enrollment Number</label>
                    </div>


                {% else %}
                    <form action="{{ url_name }}" method="post" id="login-form">{% csrf_token %}
                <div class="form-outline mb-4">

                    <input type="email" placeholder="Email" id="email" name="{{ form.email.name }}"
                       class="form-control form-input{% if form.email.errors %}invalid{% endif %}"
                       value="{{ email|default_if_none:'' }}" autofocus>
                <label for="email">{{ form.email.label }}</label>
                </div>

                  <div id="parentcap" class="row">
{##}
                  <div class="col-md-6 mb-4">
                    <div id="captcha-content" class="form-outline">
                      {{ form.captcha }}
                    </div>


                  </div>
                    <div class="col-md-6 mb-4">
                    <div id="captcha-image" class="form-outline">
                    </div>
                  </div>
                </div>
                {% endif %}
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Sign up
                </button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script>
        {% if signup_enroll%}
        document.addEventListener('DOMContentLoaded', function() {
            var myModal = new bootstrap.Modal(document.getElementById('GetEnrollModal'));
            myModal.show();
        });
    {% else %}
        document.addEventListener('DOMContentLoaded', function() {
            var myModal = new bootstrap.Modal(document.getElementById('GetEmailModal'));
            myModal.show();
        });
    {% endif %}    var class1 = document.getElementById("captcha-content");
    var class2Container = document.getElementById("captcha-image")
    var helloImage = class1.querySelector(".captcha");
    helloImage.style.width = "140px";
    class2Container.appendChild(helloImage.cloneNode(true));
    helloImage.remove();
    var captimghello = document.getElementById("id_captcha_1")
        captimghello.classList.add("form-control")
        captimghello.placeholder = "Captcha";
        var rowt = document.getElementById("parentcap");
        var crow = document.getElementById("signupcap");
        crow.appendChild(rowt.cloneNode(true));
        captimghello.classList.add("form-input")
</script>
{% endblock %}















































 {% comment %}{% extends "admin/login.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  {% block theme %}
    {% include 'material/admin/includes/admin-out-themes.html' %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/layout.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/login.min.css' %}">
  {% if current_theme and current_theme != 'default' %}
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/admin-out-'|add:current_theme|add:'.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/admin-out.min.css' %}">
  {% endif %}
    {% load static %}
  <script src="{% static 'material/admin/js/password-toggle.min.js' %}" defer></script>
    <script>

    const captchaImg = document.querySelector('.input-field .captcha');

    // Find the outside container where you want to move the image
    const outsideContainer = document.querySelector('.captcha-image');

    // Check if both elements exist and move the image
        // Append the image element to the outside container
    outsideContainer.appendChild(captchaImg);

        // Remove the image from the original location
    const captchaDiv = document.querySelector('.captcha');
    captchaDiv.removeChild(captchaImg);

    </script>
{% endblock %}

{% block branding %}{% endblock %}
{% block inside_container %}{% endblock %}
{% block tray %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block side_nav %}{% endblock %}


{% block content %}

  <div id="layout-content">
    <div class="text-content">
      {% if form.errors and not form.non_field_errors %}
      <p class="errornote">
        {% if form.errors.items|length == 1 %}
        {% trans "Please correct the error below." %}
        {% else %}
        {% trans "Please correct the errors below." %}
        {% endif %}
      </p>
      {% endif %}

    {% if my_error %}
        <p class="errornote">
            {{ my_error }}
          </p>
    {% endif %}


      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="errornote">
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}

        {% if signup_enroll %}
      <form action="{{ url_name }}" method="post" id="login-form">{% csrf_token %}

        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix" aria-hidden="true">person</i>
                <input type="text" id="username" name="username"
                       autofocus minlength="12" maxlength="12" required>
                <label for="username">Enter your enrollment number here</label>
              </div>
            </div>
          </div>
        </div>
        {% else %}



      <form action="{{ url_name }}" method="post" id="login-form">{% csrf_token %}

        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field {% if form.email.errors %}has-error{% endif %} col s12">
                <i class="material-icons prefix" aria-hidden="true">person</i>
                <input type="text" id="email" name="{{ form.email.name }}"
                       class="{% if form.email.errors %}invalid{% endif %}"
                       value="{{ email|default_if_none:'' }}" autofocus>
                <label for="email">{{ form.email.label }}</label>
                <div class="prefix-error">{{ form.email.errors }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field {% if form.captcha.errors %}has-error{% endif %} col s12">

                <div class="hellohii">

                </div>
                <i class="material-icons prefix" aria-hidden="true">lock</i>

                  {{ form.captcha}}
                {{ form.captcha.label_tag }}
                <div class="prefix-error">{{ form.captcha.errors }}</div>
              </div>
            </div>
          </div>
        </div>

    {% endif %}
        <div class="submit-row-btn">
            <a class="btn waves-effect waves-light"  href="{% url 'student signin' %}" style="color: #FFF">Signin</a>
          <button class="btn waves-effect waves-light" type="submit" name="action">{% trans 'Log in' %}
            <i class="material-icons right" aria-hidden="true">send</i>
          </button>
        </div>
      </form>
    </div>
    <div class="side-bar">
      {% include 'material/admin/includes/admin-out-bg.html' with current_theme=current_theme %}
    </div>
  </div>
{% endblock %}{% endcomment %}

